{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Список чатов</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h3 class="heading">В какой чат вы бы хотели войти?</h3>
        <input class="textInput" id="chat-name-input" type="text" size="100"><br>
        <input class="button" id="chat-name-submit" type="button" value="Ввести название чата">
    </div>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>